.cursor__inner {
	z-index: 9999;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: difference;
	border-radius: 50%;
}

.cursor__inner--dot {
	width: 6px;
	height: 6px;
	background: #eee;
}

.cursor__inner--circle {
	width: 20px;
	height: 20px;
	border: 1px solid #eee;
}

@media screen and (max-width: 992px) {
	.cursor {
		visibility: hidden;
	}
}
